BasedOnStyle: Google
Language: Cpp
ColumnLimit: 120
ReflowComments: false
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakStringLiterals: false
SortIncludes: false